body{
    margin: 0;
    padding: 0;
    background-image: url("2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.div_01{
    min-height:100vh;
    background:rgba(0,0,0,.45);

}
header {
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-evenly;
    box-shadow:
    0 5px 12px rgba(0,0,0,.55),
    0 15px 30px rgba(0,0,0,.35);
    z-index: 10001;
    
}
.img_header {
    width: 100px;
    height: 100%;
    border: 4px solid rgb(38, 39, 38);
    box-sizing: border-box;
    border-radius: 5px;
}
.h1_header {
    color: #FFFFFF;
    text-shadow:
        0 0 5px #2ECC71,
        0 0 10px #2ECC71,
        0 0 20px rgba(46,204,113,.7),
        0 0 35px rgba(46,204,113,.5);
}
.a_header {
    text-decoration: none;
    background-color: #141414fa;
    padding: 1%;
    height: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(38, 39, 38);
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.25s;
    color: #FFFFFF;
}
.a_header:active {
    transform: scale(0.7);
    background-color: #252525fa;
    box-shadow:
    0 6px 15px rgba(0,0,0,.55),
    0 0 8px rgba(37,37,37,.8),
    0 0 18px rgba(0, 160, 80, .28);
    color: #b0b0b0;
}
.a_header:hover {
    transform: scale(1.08);
    background-color: #252525fa;
    box-shadow:
    0 6px 15px rgba(0,0,0,.55),
    0 0 8px rgba(37,37,37,.8),
    0 0 18px rgba(0, 160, 80, .28);
    color: #b0b0b0;
}
section {
    background-color: #0d0d0d96;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30%;
    border-radius: 20%;
    box-sizing: border-box;
    border: 4px solid rgb(61, 63, 61);
        box-shadow:
        0 0 3px #2ECC71,
        0 0 8px #2ECC71,
        0 0 15px rgba(46,204,113,.7),
        0 0 26px rgba(46,204,113,.5);
}
.img_section {
    width: 95%;
    height: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    border: 4px solid rgb(61, 63, 61);
}
.h3_section {
    font-size: 1.3rem;
    color: #e4e3e3;
    text-shadow:
        0 0 3px #2ECC71,
        0 0 8px #2ECC71,
        0 0 15px rgba(46,204,113,.7),
        0 0 26px rgba(46,204,113,.5);
        margin-bottom: 1vh;
}
.p1_section {
    font-size: 0.9rem;
    color: #e4e3e3;
    text-shadow:
        0 0 3px #2ECC71,
        0 0 8px #2ECC71,
        0 0 15px rgba(46,204,113,.7),
        0 0 26px rgba(46,204,113,.5);
}
footer {
    background-color: #0d0d0db8;
    box-shadow:
    0 5px 12px rgba(0,0,0,.55),
    0 15px 30px rgba(0,0,0,.35);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30%;
    height: 100px;
    box-sizing: border-box;
    border: 4px solid rgb(61, 63, 61);
    border-radius: 10px;

}
.h4_footer {
    color: #FFFFFF;
    margin-bottom: -1%;
    animation: h4 2s linear infinite;
    padding: 2px;
    transition: 1s;

}
.p1_footer {
    color: #FFFFFF;
    margin-bottom: -2%;
}
.p2_footer a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.p2_footer a:active {
   background-color: #545454;
   text-decoration: underline; 
   color: #cbcbcb;
}
.p2_footer a:hover {
   background-color: #272727; 
   text-decoration: underline;
   color: #cbcbcb;
}
@keyframes h4 {
    0%{ border: 2px solid #a47efc; box-sizing: border-box; border-radius: 3px; color: #FFFFFF;}
    30%{ border: 2px solid #7c56d4; box-sizing: border-box; border-radius: 4px; color: #dadada}
    60%{ border: 2px solid #6041a8; box-sizing: border-box; border-radius: 5px; color: #b9b9b9}
    80%{ border: 2px solid #4c3485; box-sizing: border-box; border-radius: 7px; color: #a9a9a9}
    100%{ border: 2px solid #402878; box-sizing: border-box; border-radius: 8px; color:rgb(117, 117, 117)5}
}
